header.header {
    display:flex;
    background-color: #fff;
    padding: 0px, 15px;
    overflow: hidden;
    white-space: nowrap;
    box-shadow: var(--shadow);
    align-items: baseline;
}

header.header h1 {
    font-size: 1.8em;
}

header.header  p {
    padding-left: 10px;
    align-content: center;
}

header.header h1 > i {
    padding-left: 25px;
}


